.user-card-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.user-card-container {
  background-color: rgb(78, 78, 78);
  color: white;
  margin: auto;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 10px;
  width: 350px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 2em;
  transform: scale(0.95);
}
.user-card-avatar {
  padding: 1em;
}
.user-card-stats {
  width: 100%;
  padding: 1em;
  border-left: bisque 3px solid;
}

.user-card-stats p {
  font-size: 1.75rem;
}
.user-card-stats h4 {
  margin-block: 0.5em;
}

.user-card-stats-item {
  display: flex;
  justify-content: space-between;
}

.user-card-score {
  color: rgb(225, 255, 56);
}
.user-card-rank {
  position: absolute;
  display: grid;
  place-items: center;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  background-color: rgb(125, 243, 237);
  border-radius: 50%;
  color: black;
}
