.home-segment {
  background-color: #8ec5fc !important;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%) !important;
}
.home-menu {
  background-color: #8ec5fc !important;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%) !important;
}
.home-item {
  font-weight: bold !important;
  font-size: 1.125rem;
  color: rgb(255, 255, 255) !important;
  width: 50%;
}
.home-container {
  padding: 5em;
  max-width: 900px;
  margin: auto;
}
.home-questions-container {
  display: grid !important ;
  grid-template-columns: 1fr 1fr !important;
  justify-items: center !important;
}

@media (max-width: 800px) {
  .home-questions-container {
    grid-template-columns: 1fr !important;
  }
  .home-container {
    padding: 1em;
  }
}
