.home-item {
  width: 50%;
}
.home-container {
  padding: 5em;
  max-width: 900px;
  margin: auto;
}
.home-questions-container {
  display: grid !important ;
  grid-template-columns: 1fr 1fr !important;
  justify-items: center !important;
}

@media (max-width: 800px) {
  .home-questions-container {
    grid-template-columns: 1fr !important;
  }
  .home-container {
    padding: 1em;
  }
}
