.menu-container {
  /* background-color: #8ec5fc !important;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%) !important; */
  background-color: #ff3cac !important;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #d19cff 50%,
    #91d1ff 100%
  ) !important;
}
.log-item {
  margin-left: auto;
}

.welcome-msg {
  margin: 0;
  align-self: center;
  color: rgb(165, 250, 81);
}
.user-container {
  display: flex;
  margin-left: auto;
}
.nav-bar-item {
  color: white !important;
  padding-inline: 0.75em !important;
}
.disabled {
  color: white !important;
}
@media (max-width: 450px) {
  .welcome-msg {
    display: none;
  }
}
