.login-container {
  margin: auto;
  text-align: center;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 80%;
  max-width: 400px;
}
.login-container button {
  width: 100px;
}
.log-in-password-container {
  width: 100%;
}
.log-in-validation {
  color: red;
  font-size: 1.25rem;
  font-weight: bold;
}
